#newTweetForm {
    visibility: hidden;
}
#image_tweet {
    max-height: 200px;
    border:1px solid #cacaca;
    border-radius: 10px;
}
.modify_tweet {
    visibility: hidden;
}

.Tweet {
    margin: 25px;
    padding: 25px;
    width: 40%;
    border: 1px solid #00ff87;
    border-radius: 20px;
}

#data {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 1rem;
    width: 80%;
    /* border: 1px solid #cacaca; */
}
#depose {
    height:80px;
    font-size:20px;
    line-height: 80px;
    color:#999;
    text-align: center;
    padding:10px;
    margin:10px;
    border:2px dashed #999;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
#depose.onDropZone {
    background-color: #00ff87;
    color:#000;
    border:1.8px solid #00ff87;
}
#fileToUpload {
    display: none;
}
.bloc {
    max-height: 90px;
    max-width: 90px;
    padding:5px;
    border:1px solid #cacaca;
    margin:10px;
}
#preview {
    display:none;
}
.fichier {
    padding:5px;
    background: white;    
    margin-top:1px;
}
.fichier img {
    max-height: 80px;
    max-width: 80px;
    margin-right:10px;
    vertical-align: middle;
}

button {
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #00ff87;
    border:1px solid #cacaca;
    border-radius: 6px;
}

.delete, .modifyTweetBtn {
    background-color: #fff;
    border:0px;
    border-radius: 5px;
}