#image_tweet {
    max-height: 200px;
    border:1px solid #cacaca;
    border-radius: 10px;
}
.modify_tweet {
    visibility: hidden;
}

#section_Tweet{
    margin-top: 220px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
#newTweetForm {
    visibility: hidden;
    position: fixed;
}
#open_tweet_window {
    position: fixed;
    width: 159px;
    height: 38px;
    left: 90px;
    top: 224px;
}
.Tweet {
    margin: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 25px;
    width: 620px;
    grid-column: 2;
    border: 1px solid #00FF87;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 18px 1fr 30px;
    grid-template-columns: 80px 50px 1fr;
    gap: 10px
}
.with_image {
    margin: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 25px;
    width: 620px;
    grid-column: 2;
    border: 1px solid #00FF87;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 18px 1fr 200px 30px;
    grid-template-columns: 80px 50px 1fr;
    gap: 10px
}
#image_tweet {
    grid-row: 3;
    grid-column: 2 / 4;
    height: 200px;
    left: 141px;
    top: 149px;
}
.with_image #delete_tweet {
    grid-row: 4;
    grid-column: 2;
}
.with_image .modifyTweetBtn {
    grid-row: 4;
    grid-column: 3;
}
.Tweet #delete_tweet {
    grid-row: 3;
    grid-column: 2;
}
.Tweet .modifyTweetBtn {
    grid-row: 3;
    grid-column: 3;
}
#name {
    font-weight: bold;
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}
#date {
    grid-row: 1;
    grid-column: 3;
    align-self: center;
    justify-self: end;
}

#data {
    align-self: center;
    grid-row: 2;
    grid-column: 2 / 4;
}
#depose {
    height:80px;
    font-size:20px;
    line-height: 80px;
    color:#999;
    text-align: center;
    padding:10px;
    margin:10px;
    border:2px dashed #999;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
#depose.onDropZone {
    background-color: #00ff87;
    color:#000;
    border:1.8px solid #00ff87;
}
#fileToUpload {
    display: none;
}
.bloc {
    max-height: 90px;
    max-width: 90px;
    padding:5px;
    border:1px solid #cacaca;
    margin:10px;
}
#preview {
    display:none;
}
.fichier {
    padding:5px;
    background: white;    
    margin-top:1px;
}
.fichier img {
    max-height: 80px;
    max-width: 80px;
    margin-right:10px;
    vertical-align: middle;
}

button {
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #00ff87;
    border:1px solid #cacaca;
    border-radius: 6px;
}

.delete, #btn_modify {
    background-color: #fff;
    border:0px;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    padding: 0px;
}
nav {
    position: fixed;
    width: 100%;
    height: 124px;
    left: 0px;
    top: 0px;
    background-color: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}
#logo {
    position: absolute;
    width: 74px;
    height: 62px;
    margin-left: 90px;
    top: calc(50% - 62px/2 - 1px);
}
#site_name {
    position: absolute;
    width: 212px;
    height: 46px;
    left: calc(50% - 212px/2);
    top: calc(50% - 46px/2);
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 42%;
    display: flex;
    align-items: center;
    color: #00FF87;

}
.block1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 159px;
    height: 38px;
    left: 90px;
    top: 224px;
}
#deconnection {
    position: absolute;
    right: 180px;
    background-color: #00FF87;
    border:0px;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    padding: 0px;
    top: calc(50% - 47px/2 - 1px);
}
#logout_img {
    background-color: #00FF87;
    border:0px;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    padding: 0px;
    margin-top: 3px;
    margin-left: 2px;
}
#profil_btn {
    position: absolute;
    right: 90px;
    background-color: #00FF87;
    border:0px;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    padding: 0px;
    top: calc(50% - 47px/2 - 1px);
}
#profil_img {
    background-color: #00FF87;
    border:0px;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    padding: 0px;
    margin-top: 2px;
}
#change_profil {
    visibility: hidden;
}
#change_pseudo_form {
    visibility: hidden;
}